@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-naranja: #FF9701;
  --color-blanco: #FFFF;
  --color-gris: #F4F4F4;
  --color-negro: #343434;

  
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-negro);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--color-gris)
    )
    var(--color-gris);
}
