@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rosa: #F25C78;
  --color-celeste: #05DBF2;
  --color-naranja: #F28B50;
  --color-mandarina: #F27457;
  --color-blanco: #F2F2F2; 
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-azul);
  background: linear-gradient(180deg, #FFFFFF 0%, #FCF0E8 2.05%, #F8F9FB 21.82%, #FDF0E7 41.27%, #F8F9FB 63.74%, #FDF1E9 83.85%, #FFFFFF 100%);
}
